@page
@model RazorPagesAvaluos.Pages.Avaluos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Avalúos</h1>

<p>
    <a asp-page="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avaluo[0].FechaAvaluo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avaluo[0].Valuador)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Avaluo[0].Calificacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Avaluo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAvaluo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valuador)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
